body {
	margin: 0;
}

a, .delicious a {
	text-decoration: none;
	color: #fff;
}

header {
	height: 800px;
	background-image: url('picjumbo.com_HNCK4938.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.logo {
	color: #fff;
	font-size: 30px;
}

.navbar-inverse .navbar-brand {
	font-family: 'Arizonia', cursive;
	font-size: 40px;
	color: #fff;
	padding-top: 40px;
}

.navbar-inverse {
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	border: none;
}

.navbar-toggle {
	margin-top: 16px;
	border: none;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	padding-top: 40px;
	padding-bottom: 10px;
	padding: 0 0 5px;
	padding-top: 26px;
	margin: 10px 15px;
}

	.navbar-inverse .navbar-nav > li > a:hover {
		color: #B3E0B3;
	}

li .main {
	border-bottom: 2px solid #fff;
}

.marketing .col-lg-4 {
	margin-bottom: 50px;
}

.title2 {
	font-size: 30px;
	border-bottom: 3px solid #5cb85c;
	padding-bottom: 30px;
	margin-bottom: 50px;
	margin-top: 60px;
}

h2 {
	color: #000;
	font-family: serif;
	font-size: 20px;
	text-align: center;
}

#myCarousel .btn, .jumbotron .btn {
	box-shadow: 0 0 50px rgba(0,0,0,1);
}

.img-circle {
	width: 198px;
	height: 198px;
	background-color: #5cb85c;
}

	.img-circle:hover {
		border: 3px solid #5cb85c;
		transition: 0.1s; /* Плавный переход */
	}

.parallax-container {
	height: 300px;
}

.jumbotron {
	background: none;
	color: white;
}

	.jumbotron h1 {
		font-size: 60px;
	}

.parallax-container {
	position: relative;
	overflow: hidden;
	height: 300px;
	box-shadow: inset 0 5px 40px rgba(0, 0, 0, 0.85);
}

.parallax {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

	.parallax img {
		display: none;
		position: absolute;
		left: 50%;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

#mainHeader.fixedHeader {
	background: #449d44;
	height: 60px;
	color: black;
	box-shadow: 2px 2px 15px rgba(0,0,0,0.4);
}

	#mainHeader.fixedHeader .navbar-inverse .navbar-brand {
		padding-top: 20px;
	}

	#mainHeader.fixedHeader .navbar-inverse .navbar-nav > li > a {
		padding-top: 10px;
	}

.marketing .jumbotron {
	text-align: right;
}

h4 {
	height: 50px;
}

	h4:hover {
		color: #5cb85c;
	}

.thumbnail {
	box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
	max-width: 380px;
	margin: auto;
	margin-bottom: 20px;
}

	.thumbnail:hover {
		border: 3px solid #5cb85c;
		transition: 0.1s;
		cursor: pointer;
	}

#nekoToTop {
	color: #449d44;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

	#nekoToTop:hover {
		color: #fff;
		background: #449d44;
	}

#nekoToTop {
	position: fixed;
	bottom: 0;
	right: 20px;
	padding: 11px 6px;
	display: inline;
	border-radius: 4px 4px 0 0;
	width: 50px;
	text-align: center;
	z-index: 100;
}

.btn-social-icon.btn-lg {
	height: 45px;
	width: 45px;
	padding-left: 0;
	padding-right: 0;
	background: #5CB85C;
}

	.btn-social-icon.btn-lg:hover {
		background: #449d44;
	}

footer {
	padding-top: 30px;
	background: rgba(0,0,0,0.1);
	box-shadow: inset 0px 2px 20px rgba(0, 0, 0, 0.35);
}

.list-group-item {
	padding: 3px;
	margin-bottom: -1px;
	background-color: rgba(255, 255, 255, 0);
	;
	border: none;
}
/*----------------Рецепты-----------------*/
.bg {
	background-image: url('../images/Рецепты.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}

.bg-b {
	background-image: url('../images/Рецепты.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}

	.bg .title, .bg-b .title {
		font-family: serif;
		font-size: 70px;
		margin-bottom: 20px;
		text-align: center;
		color: #fff;
		margin-top: 100px;
	}

.nav-tabs {
	border-bottom: 1px solid #5CB85C;
}

.recipes {
	margin-top: 40px;
}

	.recipes a {
		color: #5cb85c;
	}

.nav-tabs > li.active > a {
	border: 1px solid #5CB85C;
	border-bottom-color: transparent;
}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		border: 1px solid #5CB85C;
		border-bottom-color: transparent;
	}

.nav-tabs > li > a:hover {
	border-color: transparent;
	color: #2B862B;
	background-color: transparent;
}
.recipe {
	margin-top: 50px;
}

.featurette-heading {
	margin-top: 0;
}

.fa-user, .fa-clock-o {
	color: #449d44;
}

.lead {
	color: #449d44;
}

.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
	width: 200px;
	text-align: center;
	background: #F9F9F9;
	margin: 0 5px;
	font-size: 20px;
}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		color: #F9F9F9;
		cursor: default;
		background-color: #5CB85C;
		border: 2px solid #5CB85C;
		border-radius: 0;
	}

	.nav-tabs > li > a:hover {
		background-color: #dff0d8;
	}

	.nav-tabs > li > a {
		border: 2px solid #5CB85C;
		border-radius: 0;
		color: black;
	}

.nav-tabs {
	border-bottom: transparent;
}

@media (max-width: 767px) {
	.navbar-inverse {
		background-color: #449d44;
	}

		.navbar-inverse .navbar-collapse {
			border: none;
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
		}

	li .main {
		border-top: 2px solid #fff;
		border-bottom: none;
	}

	.sm {
		padding: 0;
	}

		.sm .navbar-inverse .navbar-brand {
			padding-top: 20px;
			font-size: 25px;
		}

	.bg .title, .title {
		font-family: serif;
		font-size: 45px;
		margin-bottom: 20px;
		text-align: center;
		color: #fff;
		margin-top: 120px;
	}

	.title {
		margin-top: 20px;
	}

	.jumbotron h1 {
		font-size: 34px;
	}
}
@media screen and (min-width: 768px) {
	.carousel-caption {
		right: 20%;
		left: 20%;
		padding-bottom: 15px;
	}

	
}
@media screen and (max-width: 993px){
.nav-tabs > li {
		float: left;
		margin-bottom: -1px;
		width: 100%;
		text-align: center;
		background: #F9F9F9;
		margin: 0 2px;
		font-size: 17px;
	}
}
@media screen and (min-width: 994px) and (max-width: 1200px) {
	.nav-tabs > li {
		float: left;
		margin-bottom: -1px;
		width: 170px;
		text-align: center;
		background: #F9F9F9;
		margin: 0 2px;
		font-size: 14px;
	}
}

/*------------------------------Рецепт----------------------------*/
